@import "abstracts";
body{
  width: 100%;
  background-color: #0e0e0e;
  margin: 0px;
}
@font-face {
  font-family: OpenSanBold;
  src: url(../font/OpenSans-Bold.woff2);
}
.opsBold{
  font-family: OpenSanBold;
}
@font-face {
  font-family: OpenSanLight;
  src: url(../font/OpenSans-Light.woff2);
}
.opsLight{
  font-family: OpenSanLight;
}
@font-face {
  font-family: OpenSanSemiBold;
  src: url(../font/OpenSans-Semibold.woff2);
}
.opsSemiBold{
  font-family: OpenSanSemiBold;
}
@font-face {
  font-family: PTSerifBold;
  src: url(../font/PTSerifBold.woff2);
}
.ptSerifBold{
  font-family: PTSerifBold;
}
@font-face {
  font-family: PTSerif;
  src: url(../font/PTSerif.woff2);
}
.ptSerif{
  font-family: PTSerif;
}

.container{
  width: $w640;
  margin:  auto;
}
.container1{
  height: $h425;
}
.layer1{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background
{
  height: $h425;
  background-image: url("../images/frame-4.png");
  position: relative;
}
.line1CT1{
  @include  flex-between;
  letter-spacing: 2px;
  color: $white;
  font-size: $fs30;
  width: $w590;
  height: 40px;
  @include padding(59,20,0,30);
}
.line2CT1{
  @include flex-center;
  width: $w640;
  height: 190px;
}
.line3CT1{
  @include  flex-center;
  color: white;
  font-size: $fs30;
  width: $w590;
  height: 60px;
  @include padding(0,20,0,20);
}
.ALEXANDER{
  padding-left: 15px;
}
.pdl{
  padding-left: 35px;
}
.line4CT1{
  @include flex-between;
  color: #f4f2f2;
  font-size: $fs24;
  width: $w540;
  height: 60px;
  @include padding(0,20,0,20);
}
.info{
  @include flex-center-ho;
}
.info:first-child{
  padding-left: 10px;
}
.info:nth-child(2){
  border-right: 1px solid #84756f;
  border-left: 1px solid #84756f;
  @include padding(0,30,0,30);
}
.rightCT1{
  color: #beb9b5;
  font-size: $fs30;
}
.container2{
  width:  $w640;
  height: 110px;
  background-color: $white;

}
.container3{
  height: $h300;
}
.contentCT3{
  background-image: url("../images/frame.png");
  position: relative;
  height: $h300;
}
.line1CT3{
  @include flex-row;
  color: white;
  font-size: $fs18;
  @include padding(15,40,15,40);
  background-color: rgba(0, 0, 0, 0.5);
}
.container4{
  background-color: white;
  height: $h420;
}
.title{
  color: #262626;
  font-size: $fs36;
  @include padding(20,30,10,30);
}
.content2{
  @include flex-row;
  @include padding(20,30,0,20);
  width: 280px;
  height: 65px;
}
.rightCT2{
  @include flex-column;
  @include padding(0,0,0,20);
}
.name{
  padding-left: 10px;
  color: #333333;
  font-size:$fs22;
}
.time{
  font-size:$fs24;
}
.infoCT2{
  @include flex-row;
  @include padding(0,0,10);
}
.content{
  width: $w580;
  font-size: $fs28;
  @include padding(10,30,10,30);
  color: #262626;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.container5{
  height: $h300;
}
.contentCT5{
  background-image: url("../images/Layer-42.png");
  position: relative;
  height: $h300;
}
.infoCT4{
  color: #333333;
  font-size: $fs24;
  width: $w580;
  border-bottom: 1px solid #d6d6d6;
  margin-left: 30px;
  @include padding(20,0,30);
}
.rightCT4{
  width: 220px;
}
.leftCT4{
  padding-left: 20px;
  width: 320px;
}
.container6{
  height: 445px;
  background-color: white;
}
.left{
  float: left;
}
.right{
  float: right;
}
.commentIcon{
  @include padding(10,10);
}
.infoCT6{
  color: #333333;
  font-size: $fs24;
  width: $w580;
  margin-left: 30px;
  @include padding(20,0,30);
}
